[Journal]
Storage={{ boss__ntpd__ntpd_storage_option }}
Compress={{ boss__ntpd__ntpd_compress_option }}
Seal={{ boss__ntpd__ntpd_seal_option }}
SplitMode={{ boss__ntpd__ntpd_splitmode }}
SyncIntervalSec={{ boss__ntpd__ntpd_sync_interval }}
RateLimitInterval={{ boss__ntpd__ntpd_rate_limit_interval }}
RateLimitBurst={{ boss__ntpd__ntpd_rate_limit_burst }}
SystemMaxUse={{ boss__ntpd__ntpd_system_max_use }}
SystemKeepFree={{ boss__ntpd__ntpd_system_keep_free }}
SystemMaxFileSize={{ boss__ntpd__ntpd_max_file_size }}
RuntimeMaxUse={{ boss__ntpd__ntpd_runtime_max_use }}
RuntimeKeepFree={{ boss__ntpd__ntpd_runtime_keep_free }}
RuntimeMaxFileSize={{ boss__ntpd__ntpd_runtime_max_file_size }}
MaxRetentionSec={{ boss__ntpd__ntpd_max_retention_sec }}
MaxFileSec={{ boss__ntpd__ntpd_max_file_sec }}
ForwardToSyslog={{ boss__ntpd__ntpd_forward_to_syslog }}
ForwardToKMsg={{ boss__ntpd__ntpd_forward_to_kmsg }}
ForwardToConsole={{ boss__ntpd__ntpd_forward_to_console }}
ForwardToWall={{ boss__ntpd__ntpd_forward_to_wall }}
TTYPath={{ boss__ntpd__ntpd_tty_path }}
MaxLevelStore={{ boss__ntpd__ntpd_max_level_store }}
MaxLevelSyslog={{ boss__ntpd__ntpd_max_level_syslog }}
MaxLevelKMsg={{ boss__ntpd__ntpd_max_level_kmsg }}
MaxLevelConsole={{ boss__ntpd__ntpd_max_level_console }}
MaxLevelWall={{ boss__ntpd__ntpd_max_level_wall }}
